extends ./layout.pug
block contenido
    div.col-md-8.mx-auto.remove-float.text-center.big-top-space
        h1 Bienvenidos a FotoFacilito
        a.right-space(href="login") Iniciar sesión
        a(href="signup") Registro